<div class="wrapper">
    <header>
        <h1>Mark Studor</h1>
    </header>
    <main class="main">
        <div class="sidebar">
            <section class = "contact">
                <h2>Personal Information</h2>
                <address>
                    507 S Howard St. #25
                    Spokane, Wa 99204
                </address>
                <div class = "phone">
                    (208) 625-1023
                </div>
                <div class = "email">
                    <a href="mailto:mcstudor@gmail.com">mcstudor@gmail.com</a>
                </div>
            </section>
            <section class = "skills">
                <div class = "skill">
                    <h3>Java</h3>
                    Intermediate
                    <div class = "meter">
                        <span id = "java-meter"></span>
                    </div>
                </div>
                <div class = "skill">
                    <h3>Object Oriented Programming</h3>
                    Intermediate
                    <div class = "meter">
                        <span id = "oop-meter"></span>
                    </div>
                </div>        
                <div class = "skill">
                    <h3>HTML/CSS</h3>
                    Intermediate
                    <div class = "meter">
                        <span id = "html-meter"></span>
                    </div>
                </div>        
                <div class = "skill">
                    <h3>Sql/DBM</h3>
                    Intermediate
                    <div class = "meter">
                        <span id = "sql-meter"></span>
                    </div>
                </div>        
                <div class = "skill">
                    <h3>Visual Basic</h3>
                    Intermediate
                    <div class = "meter">
                        <span id = "vb-meter"></span>
                    </div>
                </div>        
                <div class = "skill">
                    <h3>C</h3>
                    Intermediate
                    <div class = "meter">
                        <span id = "c-meter"></span>
                    </div>
                </div>        
                <div class = "skill">
                    <h3>Python</h3>
                    Intermediate
                    <div class = "meter">
                        <span id = "py-meter"></span>
                    </div>
                </div>        
                <div class = "skill">
                    <h3>UI/UX</h3>
                    Intermediate
                    <div class = "meter">
                        <span id = "ui-meter"></span>
                    </div>
                </div>        
                <div class = "skill">
                    <h3>JavaScript</h3>
                    Intermediate
                    <div class = "meter">
                        <span id = "js-meter"></span>
                    </div>
                </div>
                

            </section>
        </div>
        <div class="details">
            <section class = "about">
                <p>I am a computer science student looking forward to a professional career in Software Engineering. 
                    For over five years prior, I was a freelance web developer working on real projects. 
                    With industry experience and formal education, I know I will be an asset to any software team. 
                </p>
            </section>
            <section class = "education">
                <h2>Education</h2>
                <section><h3>Bachelor of Science, Computer Science</h3></section>
                <section>Eastern Washington University</section>
                <section>2016 - June 2020</section>
            </section>
            <section class="projects">
                <h2>Projects</h2>
                <div>
                    <h3>Created Inventory Management System</h3>
                    <h4>For: Minds-I Robotics Education</h4>
                    <p class="date">2018</p>
                    <ul>
                        <li>Designed IMS for warehouse operations at local business during summer internship.</li>
                        <li>Database and Front-end uses Microsoft Access and SQL</li>
                        <li>Built custom software attached to Access to control systems logic using Visual Basic.</li>
                    </ul>
                </div>
                <div>
                    <h3>Created mindwormminiatures.com</h3>
                    <h4>For: Mindworm Miniatures</h4>
                    <p class="date">2014</p>
                    <ul>
                        <li>Designed e-commerce website for commission artist</li>
                        <li>Used LAMP stack, HTML and CSS to create design</li>
                        <li>Created custom shopping cart and order management system</li>
                    </ul>
                </div>
                <div>
                    <h3>Created thegamershaven.net</h3>
                    <h4>For: The Gamer’s Haven</h4>
                    <p class="date">2012</p>
                    <ul>
                        <li>Designed e-commerce website for local small business</li>
                        <li>Used LAMP stack, HTML and CSS to create design</li>
                        <li>Implemented custom content stream using Facebook API and JSON</li>
                    </ul>
                </div>
            </section>
            <section class = "other">
                <h2>Extracurricular</h2>
                <div>
                    <h3>Technology Commercialization Academy, EWU</h3>
                    <h4>Project Manager and Programmer</h4>
                    <p class="date">2019</p>
                    <ul>
                        <li>Worked with team to develop a startup based around EWU technology</li>
                        <li>Worked on mobile application and online API and CMS</li>
                        <li>Conducted client interviews, coordinated workflow using agile techniques</li>
                    </ul>
                </div>
                <div>
                    <h3>International Collegiate Programming Contest</h3>
                    <h4>Participant</h4>
                    <p class="date">2018</p>
                    <ul>    
                        <li>Ranked 3rd for the eastern Washington testing site</li>
                        <li>Competed in a team of three</li>
                        <li>Completed algorithm challenge question</li>
                    </ul>
                </div>
            </section>
        </div>  
    </main> 
</div>